m-menu {
  position: absolute;
  display: block;
  z-index: 99999;
}

m-menu, m-menu > ul, m-menu .menu-item p, m-menu .separator hr {
  margin: 0;
  padding: 0;
}

m-menu .menu-item i, m-menu .menu-item p {
  display: inline-block;
}

m-menu .menu-item i {
  width: 13px;
  height: 16px;
  padding-top: 2px;
}

m-menu .separator {
  height: 3px;
}

m-menu > ul {
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.39);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.39);
  list-style-type: none;
  border: 1px solid gray;
}

m-menu > ul > li.no-separator {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}

m-menu > ul > li {
  text-align: left;
}

m-menu > ul > li.no-separator:hover {
  background-color: #4281F4;
  cursor: default;
}

m-menu > ul > li.no-separator:hover > p {
  color: white !important;
}