body,
html {
  margin: 0;
  height: 100%;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
}
router-view {
  height: 100%;
}
.btn-primary {
  position: relative;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0 2px;
  padding: 3px 10px;
}
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.list-group-item i,
.list-group-item p {
  display: inline;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#toast-container > div {
  opacity: 1 !important;
}
.logs {
  background-color: black;
  padding-left: 5px;
  overflow: auto;
}
ai-dialog-body * {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
ai-dialog-body {
  display: block;
  overflow: auto;
  height: calc(100% - 40px);
}
ai-dialog > ai-dialog-footer {
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 9px;
  border-top: solid #C5C5C5 1px;
}
ai-dialog ai-dialog-footer .align-right {
  float: right;
}
.tile {
  margin: 5px;
  cursor: pointer;
  cursor: hand;
  width: 120px;
  height: 132px;
  display: block;
  float: left;
}
.default-tile {
  width: 120px;
  height: 132px;
  vertical-align: middle;
  text-align: center;
}
.default-tile.without-icon > p {
  margin: 0;
  padding-top: 50px;
}
.default-tile.with-icon img {
  width: 50px;
  height: 50px;
}
.default-tile.with-icon > p {
  padding-top: 17px;
  text-align: center;
}
.plugin-title-container {
  display: block;
}
.plugin-title-container .plugin-title {
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: .4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.plugin-title-container .project-title-plugin {
  text-align: center;
  margin-bottom: 5px;
  white-space: nowrap;
  vertical-align: middle;
}
.plugin-content-container {
  display: block;
  padding-top: 5px;
  padding-left: 20px;
}
tree-list ul {
  padding-left: 0;
}
tree-list ul li div {
  padding-left: 5px;
}
tree-list ul li div > span {
  line-height: 30px;
}
tree-list ul li div i {
  float: right;
  padding-top: 7px;
  padding-right: 2px;
}
tree-list ul li div .glyphicon {
  width: 16px;
  height: 14px;
}
tree-list > tree-node > ul > li {
  padding-left: 0;
}
.splitter {
  padding: 2px;
  min-height: 200px;
  cursor: col-resize;
  flex: 0 0 auto;
}
.title {
  font-weight: 300;
  letter-spacing: .4px;
  white-space: nowrap;
  text-transform: capitalize;
  vertical-align: middle;
}
.main-header {
  line-height: 25px;
  letter-spacing: .4px;
  white-space: nowrap;
  vertical-align: middle;
}
.vGrid-glyphicon {
  right: 14px;
  top: 9px;
}
m-menu p {
  color: black;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}
.splash p {
  display: inline;
  vertical-align: middle;
  margin-left: 15px;
  color: black;
}
.splash .message {
  height: 128px;
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 60px;
}
.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}
.project-list-item {
  list-style-type: none;
}
.project-list-item project {
  display: block;
  padding: 5px;
}
.project-list-item project .title {
  line-height: 50px;
  margin: 0;
}
.main {
  display: flex;
  height: 100%;
}
.main .left {
  position: relative;
  flex: 0 0 auto;
  z-index: 5;
  width: 300px;
  overflow: hidden;
}
.main .left .main-button-group {
  height: 44px;
  width: 100%;
  display: flex;
}
.main .left .main-button-group .main-button {
  display: block;
  height: 100%;
  width: 33.33%;
  border: 0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
}
.main .left .projectList {
  position: absolute;
  bottom: 40px;
  top: 100px;
  left: 0;
  right: 0;
}
.main .left .projectList .vGrid .vGrid-header {
  overflow-y: hidden !important;
}
.main .left .projectList .vGrid .vGrid-header .vgrid-header-input-search-icon {
  position: absolute;
  top: 49px;
  left: 5px;
}
.main .left .projectList .vGrid .vGrid-header .vgrid-header-input-bottom {
  padding: 15px 28px;
  outline: 0 !important;
}
.main .left .projectList .vGrid .vGrid-row {
  font-size: 18px;
  letter-spacing: .4px;
}
.main .left .project-list-header {
  max-height: 36px;
  min-height: 36px;
  text-align: center;
  font-weight: 400;
}
.main .left .project-list-header .vGrid-glyphicon-sort-asc {
  right: 15px;
}
.main .left .project-list-header .vGrid-glyphicon-sort-desc {
  right: 15px;
}
.main .left h1 {
  margin-top: 0;
  padding-top: 20px;
}
.main .right {
  flex: 1 1 auto;
  overflow: auto;
}
.main .right.plugin-view-active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 40px;
}
.main .right .title {
  margin-left: 10px;
}
.main .right .project-title-plugin {
  text-transform: capitalize;
}
.main .right .returnToPluginListBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.main .right tiles {
  padding-left: 20px;
  display: block;
}
.copyable-item .key {
  font-weight: bold;
}
.landing {
  width: 500px;
  margin: 50px auto 0 auto;
  padding: 20px;
  border: 1px solid black;
}
.landing .aurelia-logo {
  width: 300px;
}
.jspm-grid {
  height: 700px;
}
.jspm-grid .up-to-date {
  background-color: #8de88d;
}
.jspm-grid .out-of-date {
  background-color: #ffc4c4;
}
.jspm-grid .version-cell {
  height: 100% !important;
  width: 100%;
}
.npm-grid {
  height: 700px;
}
.npm-grid .up-to-date {
  background-color: #8de88d;
}
.npm-grid .out-of-date {
  background-color: #ffc4c4;
}
.npm-grid .version-cell {
  height: 100% !important;
  width: 100%;
}
.scaffold-modal ai-dialog-body {
  display: flex;
}
.scaffold-modal ai-dialog-body .left-side {
  width: 250px;
  flex: 0 0 auto;
}
.scaffold-modal ai-dialog-body .right-side {
  flex: 1 1 auto;
  margin-left: 15px;
}
.scaffold-modal ai-dialog-body .project-template-list {
  height: 477px;
  overflow: auto;
}
.scaffold-modal ai-dialog-body .main-header-dialog {
  letter-spacing: .4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.scaffold-modal ai-dialog-body .dialog-input-select {
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}
.scaffolding-project-detail ul {
  list-style-type: none;
}
.task-manager-modal ai-dialog-body {
  display: flex;
  flex-direction: row;
}
.task-manager-modal .left-side {
  height: 100%;
  overflow: auto;
  width: 250px;
  flex: 0 0 auto;
}
.task-manager-modal .left-side tree-list > tree-node > ul > li {
  padding-left: 0;
}
.task-manager-modal .left-side tree-list tree-node ul li div {
  font-size: 16px;
  letter-spacing: .4px;
}
.task-manager-modal .right-side {
  height: 53px;
  flex: 1 1 auto;
  margin-left: 15px;
}
.task-manager-modal .logs {
  height: 274px;
}
.error-modal ai-dialog-body {
  display: flex;
}
.error-modal ai-dialog-body .left-side {
  width: 255px;
  height: 100%;
  flex: 0 0 auto;
}
.error-modal ai-dialog-body .right-side {
  height: 100%;
  flex: 1 1 auto;
  padding-left: 20px;
}
.error-modal ai-dialog-body .right-side .stacktrace {
  color: white;
  height: 340px;
  padding-left: 5px;
  margin-top: 5px;
  overflow: scroll;
  background-color: black;
}
.error-modal ai-dialog-body .right-side .stacktrace p {
  color: white !important;
  word-break: break-word;
}
.error-modal ai-dialog-body .error-detail {
  margin-left: 20px;
  padding-left: 10px;
  height: 300px;
}
.error-modal ai-dialog-body .error-list .list-group {
  max-height: 300px;
  overflow: auto;
}
.support-modal ai-dialog-body #documentation select,
.support-modal ai-dialog-body #documentation label,
.support-modal ai-dialog-body #documentation button {
  display: inline;
}
.support-modal ai-dialog-body #documentation select {
  width: 300px;
}
.support-modal ai-dialog-body .tab-content {
  padding-top: 10px;
}
task-bar-item {
  height: 40px;
  line-height: 40px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  cursor: hand;
  cursor: pointer;
}
task-bar-item img {
  height: 24px;
}
task-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 999;
}
task-bar .runningTasks {
  position: absolute;
  right: 0;
}
task-bar .runningTasks p {
  padding: 0;
  margin: 0;
  line-height: 40px;
}
.terminal-modal ai-dialog-body {
  display: flex;
  flex-direction: row;
}
.terminal-modal ai-dialog-body .terminal {
  overflow-y: auto;
  overflow-x: hidden;
}
.terminal-modal ai-dialog-body .terminal-input {
  color: white;
  background-color: black;
  width: 100%;
  height: 20px;
}
.terminal-modal ai-dialog-body .row {
  padding-right: 5px;
}
.terminal-modal ai-dialog-body .left-side {
  height: 352px;
  border-right: 1px solid #dfdfe1;
  width: 250px;
  flex: 0 0 auto;
}
.terminal-modal ai-dialog-body .right-side {
  height: 100%;
  padding-left: 20px;
  padding-right: 5px;
  flex: 1 1 auto;
}
.terminal-modal ai-dialog-body .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
browser-tile .install-btn {
  margin-top: 15px;
}
launcher-item {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}
launcher-item h1 {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}
.launcher-title {
  margin-top: 10px;
  letter-spacing: .4px;
  white-space: nowrap;
  vertical-align: middle;
}
.launcher-detail {
  margin-top: 12px;
}
.launcher-tabs > .tab-pane {
  margin-top: 5px;
}
.share-modal {
  width: 700px;
  height: 515px;
}
.share-modal ai-dialog-body {
  height: 470px;
}

/*# sourceMappingURL=layout.css.map */
