body,
html {
  background-color: #F7F7F7 !important;
  font-family: 'Source Sans Pro', Helvetica, 'Open Sans', sans-serif;
}
hr {
  border-top: 5px solid #eeeeee;
}
router-view {
  height: 100%;
}
p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555555;
}
.btn-primary:active,
.btn-primary:focus,
.btn:hover,
.btn-primary:active:focus {
  background: #70519E !important;
  color: #ffffff !important;
}
.btn-primary {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #70519E;
  color: #70519E;
  font-size: 14px;
  font-weight: 400;
}
.list-group-item.selected {
  background-color: #F1F1F1;
}
.default-tile {
  border: 3px solid #dfdfe1;
}
.default-tile.irrelevant {
  background: repeating-linear-gradient(45deg, #dfdfe1, #dfdfe1 10px, #d0d0d0 10px, #d0d0d0 20px);
}
.plugin-title-container {
  background-color: #ffffff;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}
.plugin-title-container .plugin-title {
  color: #70519E;
}
.plugin-title-container .project-title-plugin {
  color: #70519E;
}
tree-list ul {
  padding-left: 0;
}
tree-list > tree-node > ul > li > div {
  background-color: #dfdfe1;
}
.splitter {
  background-color: lightgrey;
}
.title {
  color: #EC2685;
}
.main-header {
  color: #70519E;
}
launcher-item {
  border: 3px solid #dfdfe1;
}
.launcher-title {
  color: #70519E;
}
.error-modal ai-dialog-body .left-side {
  border-right: 1px solid #dfdfe1;
}
.error-modal ai-dialog-body .left-side .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.error-modal ai-dialog-body .right-side .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.project-list-item {
  border: 3px solid #dfdfe1;
}
.project-list-item project {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.project-list-item project .title {
  color: black;
}
.project-list-item project.selected:hover,
.project-list-item project.selected {
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 100%);
}
.project-list-item project.selected:hover .title,
.project-list-item project.selected .title {
  color: #EC2685;
}
.main .left {
  background-color: #eeeeee;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.main .left .main-button-group .main-button {
  background: #ffffff;
  color: #70519E;
  border-left: 1px solid #eeeeee;
}
.main .left .main-button-group .main-button:active,
.main .left .main-button-group .main-button:hover {
  color: #ffffff;
  background-image: -webkit-radial-gradient(49% 0 circle, #C632AC 0, #8A2979 100%);
  background-image: radial-gradient(circle at 49% 0, #C632AC 0, #8A2979 100%);
}
.main .left .projectList .vGrid {
  background-color: transparent !important;
  border: 0 !important;
}
.main .left .projectList .vGrid .vGrid-row {
  color: #777777;
  background-color: #ECECED !important;
}
.main .left .projectList .vGrid .vGrid-row-selected {
  color: #EC2685;
  background-color: #F7F7F7 !important;
}
.main .left .project-list-header {
  background-color: #dfdfe1;
  color: #70519E;
}
.main .right .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.scaffold-modal ai-dialog-body .main-header-dialog {
  color: #70519E;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
task-bar-item {
  border-left: 4px solid #bbb7b7;
}
task-bar-item span {
  color: #ffffff;
}
task-bar {
  background-color: grey;
}
task-bar .runningTasks p {
  color: #ffffff;
}
.task-manager-modal .left-side {
  border-right: 1px solid #dfdfe1;
}
.task-manager-modal .left-side tree-list > tree-node > ul > li > div {
  font-size: 14px !important;
  border-bottom: 2px solid grey;
  background-color: #dfdfe1 !important;
}
.task-manager-modal .left-side tree-list tree-node ul li div {
  color: #777;
  background-color: #ECECED;
}
.task-manager-modal .left-side tree-list tree-node ul li div.selected {
  color: #EC2685;
}
.task-manager-modal .right-side .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.task-manager-modal .logs {
  height: 274px;
}

/*# sourceMappingURL=monterey.default.css.map */
