@butterfly-bush: #70519E;
@emperor: #555555;
@white: #ffffff;
@lightgrey: lightgrey;
@grey: grey;
@violet-red: #EC2685;
@black: black;
@athens-gray: #ECECED;
@boulder: #777777;
@nobel: #bbb7b7;
@seashell: #F1F1F1;
@dove-gray: #646464;

/* color refactoring from here on */
@primary: @butterfly-bush;
@accent: #EC2685;
@backdrop: #F7F7F7;
@backdrop-hover: #E7E7E7;
@accent-backdrop: #EEEEEE; // read as: an accented (elevated) backdrop :-)
@border: #dfdfe1;
@remove: #e66d6d;

@tile-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
@tree-node-bg: #ECECED;
@tree-node-bg-top-level: #dfdfe1;

@list-selected-background: #70519e;

@tooltip-border: #F1D031;
@tooltip-backdrop: #FFFFA3;
