@butterfly-bush: #70519E;
@iron: #dfdfe1;
@alabaster: #F7F7F7;
@emperor: #555555;
@gallery: #eeeeee;
@white: #ffffff;
@lightgrey: lightgrey;
@grey: grey;
@violet-red: #EC2685;
@black: black;
@athens-gray: #ECECED;
@boulder: #777777;
@nobel: #bbb7b7;
@seashell: #F1F1F1;