body, html {
  background-color: @backdrop !important;
  font-family: 'Source Sans Pro', Helvetica, 'Open Sans', sans-serif;
  transition: background-color 500ms ease-in;
}

hr {
  border-top: 5px solid @border;
}

router-view {
  height: 100%;
}

p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  color: @emperor;
}

.btn-primary:active, .btn-primary:focus, .btn:hover, .btn-primary:active:focus {
  background: @primary !important;
  color: @white !important;
}

.btn-primary {
  background-color: @white;
  border-radius: 4px;
  border: 1px solid @primary;
  color: @primary;
  font-size: 14px;
  font-weight: 400;
}

.k-window-content, k-content {
  background-color: @backdrop;
}

.list-group-item {
  cursor: pointer;

  &.selected {
    background-color: @seashell;
  }

  &:hover {
    background-color: @backdrop-hover;
  }
}

.gu-transit {
  .default-tile {
    background: repeating-linear-gradient(
      45deg,
      @border,
      @border 10px,
      #d0d0d0 10px,
      #d0d0d0 20px
    );
  }
}

.default-tile {
  border: 1px solid @border;
  border-radius: 5px;
  background-color: lighten(@backdrop, 10%);
  box-shadow: @tile-shadow;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: @backdrop-hover;
    transition: background-color 150ms ease-in;
  }

  &.irrelevant {
    background: repeating-linear-gradient(
      45deg,
      @border,
      @border 10px,
      #d0d0d0 10px,
      #d0d0d0 20px
    );
  }
}

.plugin-title-container {
  border-bottom: 5px solid rgba(0, 0, 0, .1);

  .plugin-title {
    color: @primary;
  }

  .project-title-plugin {
    color: @primary;
  }
}

tree-list {
  ul {
    padding-left: 0;
  }
}

tree-list {
  > tree-node {
    > ul {
      > li {
        > div {
          background-color: @border;
        }
      }
    }
  }
}

.nav-tabs {
  > li {
    > a {
      color: @primary;
    }
  }
  > li.active {
    > a, a:focus {
      color: @primary;
      font-weight: bold;
    }
  }
}

.splitter {
  background-color: transparent;

  &:hover {
    background-color: @lightgrey;
  }
}

.title {
  color: @accent;
}

.main-header {
  color: @primary;
}
