.task-manager-modal {
  .left-side {
    background-color: @accent-backdrop;
    border-right: 1px solid @border;

    tree-list {
      tree-node {
        ul {
          li {
            div {
              color: #777;
              background-color: @athens-gray;

              &.selected {
                color: @accent;
              }
            }
          }
        }
      }

      > tree-node {
        > ul {
          > li {
            > div {
              font-size: 14px !important;
              border-bottom: 2px solid @grey;
              background-color: @tree-node-bg;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .right-side {
    .title {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }

  .logs {
    height: 274px;
  }
}
