.task-manager-modal {
  .left-side {
    border-right: 1px solid @iron;

    tree-list {
      > tree-node {
        > ul {
          > li {
            > div {
              font-size: 14px !important;
              border-bottom: 2px solid @grey;
              background-color: @iron !important;
            }
          }
        }
      }

      tree-node {
        ul {
          li {
            div {
              color: #777;
              background-color: @athens-gray;

              &.selected {
                color: @violet-red;
              }
            }
          }
        }
      }
    }
  }

  .right-side {
    .title {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }

  .logs {
    height: 274px;
  }
}
