.task-manager-modal {
  background-color: @backdrop;

  .left-side {
    background-color: @accent-backdrop;
    border-right: 1px solid @border;

    tree-list {
      tree-node {
        ul {
          li {
            div {
              color: #777;
              background-color: @tree-node-bg;

              &.selected {
                color: @accent;
              }
            }
          }
        }
      }

      > tree-node {
        > ul {
          > li {
            > div {
              font-size: 14px !important;
              border-bottom: 2px solid @border;
              background-color: @tree-node-bg-top-level;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              .glyphicon {
                position: relative;
                top: 3px;
              }
            }
          }
        }
      }
    }
  }

  .right-side {
    .title {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    task-runner {
      display: block;
      height: 100%;

      .nav-tabs {
        margin-top: 15px;
        width: calc(~'100% - 3px');
      }

      .tab-content {
        // height: calc(100% - 92px); // 100% - 42px header - 42px content padding - 8px bottom padding
        height: calc(~'100% - 92px');
        width: calc(~'100% - 5px');
        // tried box shadow, didn't work out
        // box-shadow: @tile-shadow;
      }
    }

    task-detail {
      display: block;

      .task-summary {
        padding: 10px 0;
      }
    }
  }

  .logs {
    height: 274px;
  }
}
