.project-list-item {
  list-style-type: none;
  border: 3px solid #dfdfe1;
  project {
    display: block;
    padding: 5px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);

    .title {
      color: black;
      line-height: 50px;
      margin: 0;
    }

    &.selected:hover, &.selected {
      background-image: linear-gradient(-270deg,rgba(255,255,255,.5) 100%,rgba(255,255,255,0) 100%);

      .title {
        color: #EC2685;
      }
    }
  }
}


.main {
  .left {
    background-color: #ECECED;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 384px;
    height: 100%;
    overflow: hidden;

    h1 {
      margin-top: 0;
      padding-top: 20px;
    }

    .top {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .right {
    position: fixed;
    top: 0;
    left: 384px;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    overflow: auto;

    h3 {
      margin-left: 10px;
    }
  }
}

project-list {
  height: 100%;
  ul {
    height: ~"calc(100% - 155px)";
    overflow: auto;
    padding-left: 0;
  }
}

task-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: grey;
  height: 30px;

  .runningTasks {
    position: absolute;
    right: 0;
    p {
      color: white;
      padding: 0;
      margin: 0;
      line-height: 30px;
    }
  }
}


.project-list-header {
  background-color: #dfdfe1;
  color: #70509D;
  max-height: 36px;
  font-size: 18px;
  line-height: 36px;
  min-height: 36px;
  text-align: center;
  font-weight: 400;
}

.task-manager-modal {
  width: 700px;
  height: 500px;

  ai-dialog-body {
    height: 445px;
  }

  .task-detail {
    float: left;
    width: 417px;
    margin-left: 20px;
    padding-left: 10px;
    height: 300px;

    .log-list {
      padding-left: 0;
      list-style-type: none;
      height: 250px;
      overflow: auto;
    }
  }

  .task-list {
    float: left;
    width: 250px;

    .list-group {
      max-height: 300px;
      overflow: auto;
    }
  }

  .list-group-item {
    &.selected {
      background-color: #f1f1f1;
    }
    &.finished {
      background-color: #dbfdda;
    }
  }
}
