.scaffold-modal {
  width: 600px;
  height: 600px;
  ai-dialog-body {
    height: 546px;
    .dialog-input-select {
      list-style-type: none;
      max-height: 253px;
      overflow: auto;
    }
  }
}

.scaffolding-project-detail {
  ul {
    list-style-type: none;
  }
}
