body, html {
  margin: 0;
  height: 100%;
  background-color: #F7F7F7 !important;
  font-family: 'Source Sans Pro', Helvetica, 'Open Sans', sans-serif;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 3px solid #dfdfe1;
}

router-view {
  height: 100%;
}

p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555555;
}

.btn-primary:active, .btn-primary:focus, .btn:hover, .btn-primary:active:focus {
  background: #7d519e !important;
  color: #fff !important;
}

.btn-primary {
  position: relative;
  cursor: pointer;
  text-align: center;

  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #70519E;
  color: #70519E;
  display: inline-block;
  margin: 0 2px;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 10px;
}

// spinning glyphicon
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}


.list-group-item {
  &.selected {
    background-color: #f1f1f1;
  }
  i, p {
    display: inline;
  }
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.logs {
  background-color: black;
  padding-left: 5px;
  overflow: auto;
}

hr {
  border-top: 5px solid #eee;
}

ai-dialog-body * {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

ai-dialog-body {
  display: block;
  overflow: auto;
  height: ~"calc(100% - 40px)";
}

ai-dialog>ai-dialog-footer {
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 9px;
  border-top: solid #C5C5C5 1px;
}

ai-dialog ai-dialog-footer .align-right {
  float: right;
}

.tile {
  margin: 5px;
  cursor: pointer;
  cursor: hand;
  width: 120px;
  height: 132px;
  display: block;
  float: left;
}

.default-tile {
  width: 120px;
  height: 132px;
  border: 3px solid #dfdfe1;
  vertical-align: middle;
  text-align: center;

  &.irrelevant {
    background: repeating-linear-gradient(
      45deg,
      #dfdfe1,
      #dfdfe1 10px,
      #d0d0d0 10px,
      #d0d0d0 20px
    );
  }
 
  &.without-icon {
    > p {
      margin: 0;
      padding-top: 50px;
    }
  }

  &.with-icon {
    img {
      width: 50px;
      height: 50px;
    }

    > p {
      padding-top: 17px;
      text-align: center;
    }
  }
}

// style when tile gets dragged
.gu-transit > .default-tile {
  background-color: #e6e6e6;
}

.plugin-title-container {
  display: block;
  background-color: #f4f4f4;
  border-bottom: 5px solid rgba(0, 0, 0, .1);

  .plugin-title {
    color: #70519E;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: .4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }

  .project-title-plugin {
    color: #70519E;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.plugin-content-container {
  color: #646464;
  display: block;
  padding-top: 5px;
  padding-left: 20px;
}

tree-list {
  ul {
    padding-left: 0;
  }
}

tree-list {
  ul {
    li {
      div {
        padding-left: 5px;

        &.selected {
          background-color: #ECECED;
        }
        
        > span {
          line-height: 30px;
        }

        i {
          float: right;
          padding-top: 7px;
          padding-right: 2px;
        }

        .glyphicon {
          width: 16px;
          height: 14px;
        }
      }
    }
  }

  
  > tree-node {
    > ul {
      > li {
        padding-left: 0;
        > div {
          background-color: #dfdfe1;
        }
      }
    }
  }
}


.splitter {
  padding: 2px;
  background-color: lightgrey;

  min-height: 200px;
  cursor: col-resize;  
  flex: 0 0 auto;
}

.title {
  color: #EC2685;
  font-weight: 300;
  letter-spacing: .4px;
  white-space: nowrap;
  text-transform: capitalize;
  vertical-align: middle;
}

.main-header {
  color: #70519E;
  line-height: 25px;
  letter-spacing: .4px;
  white-space: nowrap;
  vertical-align: middle;
}

.vGrid-glyphicon {
  right: 14px;
  top: 9px;
}

m-menu p { 
  color: black;
}