.support-modal {
  ai-dialog-body {
    #documentation {
      select, label, button {
        display: inline;
      }
      select {
        width: 300px;
      }
    }

    .tab-content {
      padding-top: 10px;
    }
  }
}
