@taskbarHeight: 40px;

body > router-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

task-bar-item, .task-bar-item {
  line-height: @taskbarHeight;
  padding-left: 10px;
  padding-right: 10px;
  cursor: hand;
  cursor: pointer;
  display: block;
  img {
    height: 24px;
  }
}

task-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: @taskbarHeight;
  z-index: 999;

  compose {
    flex-shrink: 0;
  }
}