.task-manager-modal {
  ai-dialog-body {
    display: flex;
    flex-direction: row;
  }

  .left-side {
    height: 100%;
    overflow: auto;
    width: 250px;
    flex: 0 0 auto;

    tree-list {
      > tree-node {
        > ul {
          > li {
            padding-left: 0;
          }
        }
      }

      tree-node {
        ul {
          li {
            div {
              font-size: 16px;
              letter-spacing: .4px;
            }
          }
        }
      }
    }
  }

  .right-side {
    // height: 53px;
    flex: 1 1 auto;
    margin-left: 15px;

    task-detail {
      display: block;
    }
  }

  .logs {
    height: 274px;
  }
}

.install-workflow > ol { padding-left: 0; }
.install-workflow, .install-workflow ol { counter-reset: item }
.install-workflow label { font-weight: normal; }
.install-workflow li { display: block; }
.install-workflow .counter:before { content: counters(item, ".") " "; counter-increment: item }
