<template>
  <ai-dialog title="Rename project" width="600" height="430">
    <ai-dialog-body>
      <form validation-renderer="bootstrap-form">
        <div class="form-group">
          <label>Old project name:</label>
          <input type="text"
                class="form-control"
                disabled="disabled"
                value.bind="oldName">
        </div>
        <div class="form-group">
          <label>New project name:</label>
          <input type="text"
                class="form-control"
                value.bind="newName & validate">
        </div>
      </form>

    </ai-dialog-body>

    <ai-dialog-footer>
      <div class="align-right">
        <button class="btn btn-primary" click.trigger="ok()">OK</button>
        <button class="btn btn-primary" click.trigger="dialogController.close()" i18n="close"></button>
      </div>
    </ai-dialog-footer>
  </ai-dialog>
</template>