<template>
  <h2 class="title" if.bind="selectedProject.current.name">${selectedProject.current.name}</h2>

  <div class="row" ref="dragContainer">
    <compose repeat.for="tile of tiles" 
             view-model="${tile.viewModel}"
             id="${tile.name}"
             model.bind="{ model: tile.model }"
             click.delegate="executeTile(composeElement)"
             class="tile" compose.ref="composeElement">
    </compose>
  </div>

  <label class="relevant-checkbox"><input type="checkbox" checked.bind="showIrrelevant" /> Show irrelevant tiles</label>
</template>
